<div class="max-w-4xl mx-auto mt-10">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-semibold"><%= @user.username %>'s Profile</h1>
     <% if @user == current_user %>
    <div class="flex space-x-4">
      <%= link_to 'Edit Profile', edit_user_path(@user.username), class: 'bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-800' %>
    </div>
    <% end %>
  </div>

<div class="flex space-x-4 mb-2">
  <%= link_to 'Published', published_user_path(@user.username), class: "#{active_class(published_user_path(@user.username))} text-white px-4 py-2 rounded hover:bg-gray-800" %>
  <% if @user == current_user %>
    <%= link_to 'Drafts', drafts_user_path(@user.username), class: "#{active_class(drafts_user_path(@user.username))} text-white px-4 py-2 rounded hover:bg-gray-800" %>
    <%= link_to 'Your Comments', your_comments_user_path(@user.username), class: "#{active_class(your_comments_user_path(@user.username))} text-white px-4 py-2 rounded hover:bg-gray-800" %>
    <%= link_to 'Comments on Your Articles', comments_on_your_articles_user_path(@user.username), class: "#{active_class(comments_on_your_articles_user_path(@user.username))} text-white px-4 py-2 rounded hover:bg-gray-800" %>
  <% end %>
</div>

  <div id="content-section" class="mt-4">
    <% if @articles %>
      <%= render 'articles_list', articles: @articles %>
    <% elsif @comments %>
      <%= render 'comments_list', comments: @comments %>
    <% end %>
  </div>
</div>
